VITE_FIREBASE_API_KEY=AIzaSyB4lQxTfhSW3w7qgZb8NNHLZROeoTQ-ZWs
VITE_FIREBASE_AUTH_DOMAIN=ipl-auction-multiplayer-39760.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://ipl-auction-multiplayer-39760-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=ipl-auction-multiplayer-39760
VITE_FIREBASE_STORAGE_BUCKET=ipl-auction-multiplayer-39760.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1063245251673
VITE_FIREBASE_APP_ID=1:1063245251673:web:a2d095231cd65ff60edd48
VITE_FIREBASE_MEASUREMENT_ID=G-EBWFL2K84V